.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    margin-bottom: 30px
}
.navbar li{
    margin: 10px;
    cursor: pointer;
}

.navbar li a{
    color: #ffffff;
    text-decoration: none;

}
.toggle { display: none;
 }
@media (max-width: 1100px) {

    .navbar{
        flex-direction: column;
    }
    .toggle{
        display: block;
        cursor: pointer;
    }
    .navbar{
        position: absolute;
        top: 75px;

        background-color: #000000;
        width: 100%;
        
        transform: translateX(-200%);
       
    }
    .navbar.open{
        transform: translate(-2%) !important;

    }
    .toggle{
        display: flex !important;
        flex-direction: column;
        margin: 15px;
    }
    .toggle div {
        width: 25px;
        height: 3px;
        background-color: #ffffff;
        margin: 5px;
    }
    .toggle.open > div{
        transform: rotate(45deg) translate(0px, 0px);
    }

    .toggle.open > .toggle__option:nth-child(2){
        display: none;
    }
    .toggle.open > .toggle__option:nth-child(3){
        transform: rotate(-45deg) translate(-5px, 1px);
    }
}